body {
    margin: 0;
}

.background {
    background-color: skyblue;
}

.submission {
    text-align: center;
    display: inline-block;
    height: 709px;
    width: 1536px;
    background-color: skyblue;
}

form {
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 75px;
    margin-bottom: 104.5px;
    height: 480px;
    width: 350px;
    display: inline-block;
}

input {
    width: 340px;
    height: 5%;
    margin-bottom: 10px;
}

.submit {
    width: 350px;
    height: 6%;
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    margin-bottom: 50px;
}

.header {
    height: 50px;
    text-align: right;
    background-color: white;
}

.info {
    width: 85px;
    height: 60%;
    background-color: dodgerblue;
    color: white;
    border: dodgerblue;
    margin-top: 10px;
    margin-right: 10px;
}

img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

#first {
    margin-left: 4px;
}
